body{
	background-color: azure;
	padding: 5px 20px;
	font-family: verdana;
	text-align: left;
}

h1{
	color: navy;
}

h2 {
	text-decoration: underline;
	color: grey;
}

p strong {
	color: red;
}

ol li a {
	text-decoration: none;
	color: crimson;
}

.image {
	display: inline-block;
}

.image img {
	width: 550px;
	height: 450px;
}

ul li i {
	color: maroon;
	font-weight: 600;
}